{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">

        <h2>➕ إضافة خبر</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-success mt-3">حفظ</button>

        {{ form_end(form) }}

    </div>

{% endblock %}
