{% extends 'base.html.twig' %}

{% block title %}{{ 'search.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">{{ 'search.title'|trans }}</h1>
        <p class="text-center text-muted mb-0">{{ 'search.text'|trans }}</p>
    </div>
{% endblock %}
