{% extends 'base.html.twig' %}

{% block title %}{{ 'test.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">{{ 'test.title'|trans }}</h1>
        <p class="text-center text-muted mb-0">{{ 'test.text'|trans }}</p>
    </div>
{% endblock %}
